{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
    <html>
        <head>
            <title>About Smart Cash</title>
        </head>
        <body>
            <div class='container'>
                <h1>About Smart Cash</h1>
                <p>Smart Cash is a web application for small business owners to manage their expenses and keep track of their financial performance. This application is specifically designed for optics stores, but it can be easily customized for other types of small businesses.</p>
                <h2>Features</h2>
            <ul>
                <li>Customizable expense categories to match your business needs</li>
                <li>User-friendly interface for adding, editing, and deleting expenses</li>
                <li>Chart and graph visualizations to help you understand your financial performance (soon)</li>
                <li>Secure login system to protect your data (soon)</li>
            </ul>
            <h2>Technologies Used</h2>
                <p>Smart Cash is built with the following technologies:</p>
            <ul>
                <li>Python 3</li>
                <li>Django web framework</li>
                <li>SQLite database</li>
                <li>Bootstrap CSS framework</li>
            </ul>
            
            </div>
        </body>
    </html>
{% endblock %}