{% extends "base.html" %}
{% load widget_tweaks %}
{% block content%}
    <div class="container">
        <div>
            {% for msg in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ fields.help_text }}</small> 
                    {% endif %}
                </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
{% endblock %}