{% extends "base.html" %}
{% load widget_tweaks %}
{% block content%}
    <div class="container">
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ fields.help_text }}</small> 
                    {% endif %}
                </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
{% endblock %}