<form action="{% 'items:choose' item.id %}" method="post">
    % csrf_token %
    <fieldset>
        <legend><h1>{{ item.item_name }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for item in item.choice_set.all %}
        <input type="radio" name="choice" id="choice"{{ forloop.counter }}" value=" {{
            choice.id }}">
            <label for="choice"> forloop.counter }}">{{ choice.item_name }}</label>
        <br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Choose">
</form>