{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class = "abovetable2">
        <h1 class="title">Working station</h1>
        <!-- <td><a href="{% url 'add_stock' %}" class="btn btn-primary">Add</a></td> -->
        <div class="bg-light p-5 rounded navbar" >
            <h3>Welcome!</h3>
            <a class="neworder" href="{% url 'order' %}">History</a>
            <a href="{% url 'instructions' %}">Instructions</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
        <h1>Let's start!</h1>
        <p>
            Welcome to our platform! We offer two main options: stock and orders. Here's a simple guide to get started:
            If you don't have any items in your stock yet, you can create a new item by clicking on the "Create" button in 
            the stock section. You'll need to provide some basic information about the item, such as its name and quantity.
            Once you have some items in your stock, you can create an order by clicking on the "Create" button in the orders 
            section. You'll need to select the item you want to order and specify the quantity.
        </p>
        <p>Our system will automatically 
            check if there are enough items in stock to fulfill your order. If there are, the order will be sent and the 
            quantity of the ordered item will be deducted from the stock. If there aren't enough items in stock, the order 
            will not be sent and you'll be notified.
        </p>
        <p>
            That's it! Our platform takes care of the math for you, so you don't need to 
            worry about calculating the correct quantity. If you have any questions or need further assistance, 
            don't hesitate to reach out to our support team.
        </p>
        <p>
            <a class="btn btn-primary" href="/docs/5.3/components/navbar/" role="button">View navbar docs »</a>
        </p>
        </div>
    </div>
</div>

{% endblock %}
