{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class = "abovetable2">
        <h1 class="title">Working station</h1>
        <!-- <td><a href="{% url 'add_stock' %}" class="btn btn-primary">Add</a></td> -->
        <div class="bg-light p-5 rounded navbar" >
            <h3>Welcome!</h3>
            <a class="neworder" href="{% url 'order' %}">History</a>
            <a href="{% url 'instructions' %}">Instructions</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="/docs/5.3/examples/navbar-static/">top</a> and <a href="/docs/5.3/examples/navbar-fixed/">fixed top</a> examples.</p>
        <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
        <p>
            <a class="btn btn-primary" href="/docs/5.3/components/navbar/" role="button">View navbar docs »</a>
        </p>
        </div>
    </div>
</div>

{% endblock %}
