{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class = 'abovetable'>
            <h1>Orders</h1>
            <td><a href="#" class="btn btn-primary">Add</a></td>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Glasses</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Date Placed</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.pk }}</td>
                        <td>{{ order.user.username }}</td>
                        <td>{{ order.glasses.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>${{ order.total_price }}</td>
                        <td>{{ order.date_placed }}</td>
                        <td>{{ order.status }}</td>
                        <td><button class="btn btn-secondary">edit</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}