{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div>
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert"> 
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        <div class = 'abovetable'>
            <h1>Orders</h1>
            <td><a href="{% url 'add_order'%}" class="btn btn-primary">Add</a></td>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Glasses</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Date Placed</th>
                    <th>Discount</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.pk }}</td>
                        <td>{{ order.user.username }}</td>
                        <td>{{ order.glasses.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>${{ order.total_price }}</td>
                        <td>{{ order.date_placed }}</td>
                        <td>{{ discount }}</td>
                        <td>{{ order.status }}</td>
                        <td><a href="{% url 'update-order' order.id %}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}